body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-header {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1.5em 0;
}

.search-wrapper {
  background-color: #ABABAB;
  padding: .25em 0;
  text-align: center;
}

.search-filters {
  background-color: #DEDEDE;
  text-align: center;
  padding: .25em 0;
  border-bottom: 1px #ABABAB solid;
}

.print-type {
  display: inline-block;
  margin-right: 1em;
}

.book-type {
  display: inline-block;
  margin-right: 1em;
}

.book-item {
  text-align: center;
  display: flex;
  margin: 0 1em;
}

.book-img {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.error {
  font-size: 2em;
  font-weight: bold;
  color: red;
  text-align: center;
  margin: 1em;
  padding: 1em;
  border: 2px red dashed;
}